<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>HTML5 Boilerplate</title>
		<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
	</head>
	<body>
		<h1>Register</h1>
		<form action="/register" method="post">
				<label for="username">Username</label>
				<input name="username" id="username" />

				<label for="emailAddress">Email</label>
				<input name="emailAddress" id="emailAddress" />

				<label for="password">Password</label>
				<input type="password" name="password" id="password" />

				<button>Register</button>
			<p>Or <a href="{{ url_for('login_page') }}">login</a> if you already have an account.</p>
			{% if error_message %}
				<div style="color: red;">{{ error_message }}</div>
			{% endif %}
		</form>
	</body>
</html>
